/********************/
/*     CONSTANTS    */
/* Yellow : #ffcb64 */
/* Green  : #86c56c */
/* Red    : #ffb4a4 */
/* Purple : #bdafd2 */
/* Blue   : #3381f6 */
/* grey   : #f8f8f8 */
/* grey+  : #b1b1b1 */
/********************/


/***********/
/* GLOBALS */
html, body{
  color: #696969;
}
a,p, h1, h2{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
img{
  max-width:100%;height:auto;display:block
}
h1{
  font-size: 2.5em;
}
h2{
  font-size: 1.4em;
  font-weight: 600;
}
a, *:focus, input:focus, select:focus, textarea:focus, button:focus {
  outline: 0;
}
.plain:nth-of-type(1){
  background-image: url(../images/background-intro.png);
  background-size: cover;
  background-position: center bottom;
}
.plain:nth-of-type(3){
  background: #ffcb64;
}
.plain:nth-of-type(5){
  background-image: url(../images/background-green.png);
  background-size: cover;
  background-position: center bottom;
}
.plain{
  padding: 0 14%;
  position: relative;
}
.plain p{
  font-weight: 300;
  line-height: 1.4em;
  font-size: 1.1em;
}
.plain header{
  text-align: center;
  padding-bottom: 120px;
}
.plain header p{
  width: 60%;
  margin: auto;
}
.email-wrapper{
  height: 45px;
  line-height: 45px;
  padding: 4px 30px;
  width: 290px;
  border-radius: 60px;
  position: relative;
}
input[type='email']{
  width: 290px;
  border: none;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2.4em;
  color: #fff;
  background: transparent;
}
.plain form.good .email-wrapper{
  background: #86c56c;
}
.plain form.good input[type='submit']{
  background-position: 93px 448px;
}
.plain form.bad .email-wrapper{
  background: #fd7d7d ;
}
.plain form.bad input[type='submit']{
  background-position: 150px 497px;
}
::-webkit-input-placeholder{
  color: #fff;
}
:-moz-placeholder{
  color: #fff; 
  opacity: 1;
}
::-moz-placeholder{
  color: #fff; 
   opacity: 1;
}
:-ms-input-placeholder{
  color: #fff; 
}
input[type='submit']{
  border: none;
  width: 60px;
  height: 50px;
  margin-left: -66px;
  background: url(../images/sprite-icons.png);
  background-position: 151px 448px;
  position: absolute;
  top: 4px;
  right: 3px;
}
.features{
  padding-top: 70px;
  padding-left: 50px;
}
.features li{
  padding-bottom: 40px;
  padding-left: 35px;
  position: relative;
  border-left: 1px solid #dfdfdf;
}
.features li:last-child{
  border: none;
}
.features h2{
  padding: 10px 0 20px;
}
.features p{
  font-size: 1.2em;
  color: #a9a9a9;
}
.features .list-icon{
  width: 50px;
  height: 50px;
  position: absolute;
  left: -25px;
  top: 0;
}
.features li:nth-child(1) h2{
  color: #86c56c;
}
.features li:nth-child(2) h2{
  color: #ffb4a4;
}
.features li:nth-child(3) h2{
  color: #ffcb64;
}
.features li:nth-child(4) h2{
  color: #bdafd2;
}
/* END GLOBALS */
/***************/


/********/
/* MENU */
.menu{
  position: fixed;
  width: 100%;
  z-index: 2;
}
.pure-menu-list{
  position: absolute;
  right: 100px;
}
.pure-menu-horizontal{
  margin-top:30px;
}
.pure-menu-heading{
  position: fixed;
  left: 100px;
  padding: 0;
  width:180px;
}
.pure-menu-active>.pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus{
  background-color: transparent;
}
.pure-menu-item{
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 700;
}
.pure-menu-item + .pure-menu-item{
  margin-left: 40px;
}
.menu .pure-menu-link{
  color: #fff;
  padding: 0;
}
.pure-menu-link[href="#beta-testeur"]{
  background: #ffcb64;
  position: relative;
  padding: 14px 26px;
  border-radius: 20px; 
}
.pure-menu-list .press {
  color:#ffffff;
}
/* END MENU */
/************/


/*************/
/* SECTION 1 */
.plain:nth-of-type(1){
  padding-top: 150px;
  padding-bottom: 240px;
  color: #fff;
}
.plain:nth-of-type(1) h1{
  padding-top: 50px;
}
.plain:nth-of-type(1) p{
  padding-bottom: 40px;
}
.plain:nth-of-type(1) .email-wrapper{
  background: #ffcb64;
}
.plain:nth-of-type(1) .wrapper img {
  
}  
.posPhone {
  position: absolute;
  right: 14%;
}
.openVidStyle {
  top: 38%;
  right: 34%;
  z-index: 1;
  position: absolute;
  color:#ffffff;
}
.plain:nth-of-type(1) .btnLink {
  width: 60px;
  height: 60px;
  display:block;
  margin: 0 auto;
  background: #fff url(../images/sprite-icons.png) no-repeat;
  background-position: -93px -155px;
  -moz-box-shadow: 0px 0px 5px 0px #656565;
  -webkit-box-shadow: 0px 0px 5px 0px #656565;
  -o-box-shadow: 0px 0px 5px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}
.plain:nth-of-type(1) .txtLink {
  position: relative;
  top: 20px;,
}
.plain:nth-of-type(1) .scrollAction{
  z-index:1;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  width:64px;
  height:64px;
  background: #fff url(../images/sprite-icons.png) no-repeat;
  background-position: 7px -159px;
  -moz-box-shadow: 0px 0px 12px 0px #9b9b9b;
  -webkit-box-shadow: 0px 0px 12px 0px #9b9b9b;
  -o-box-shadow: 0px 0px 12px 0px #9b9b9b;
  box-shadow: 0px 0px 12px 0px #9b9b9b;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=NaN, Strength=12);
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* END SECTION 1 */
/*****************/


/*************/
/* SECTION 2 */
.plain:nth-of-type(2){
  padding-top: 120px;
  padding-bottom: 50px;
}  
.plain:nth-of-type(2) header{
  margin-top: 50px;
}
.plain:nth-of-type(2) h1{
  color: #3381f6;
}
.plain:nth-of-type(2) .wrapper img{
  position: absolute;
  bottom: 0;
}
.plain:nth-of-type(2) .features li:nth-child(1) .list-icon{
  background: url(../images/sprite-icons.png);
  background-position: 0 -3px;
}
.plain:nth-of-type(2) .features li:nth-child(2) .list-icon{
  background: url(../images/sprite-icons.png);
  background-position: -50px 0px;
}
.plain:nth-of-type(2) .features li:nth-child(3) .list-icon{
  background: url(../images/sprite-icons.png);
  background-position: -100px 0px;
}
.plain:nth-of-type(2) .features li:nth-child(4) .list-icon{
  background: url(../images/sprite-icons.png);
  background-position: -150px -2px;
}
/* END OF SECTION 2 */
/********************/


/*************/
/* SECTION 3 */
.plain:nth-of-type(3){
  padding-top: 100px;
  color: #fff;
}
.plain:nth-of-type(3) .email-wrapper{
  margin-top: 30px;
  background: #86c56c;
  margin: 40px auto 0;
}
.plain:nth-of-type(3) .wrapper{
  position: relative;
}
.plain:nth-of-type(3) img {
  margin: 0 auto;
}
#rocket{
  position: absolute;
  bottom: -50px;
  right: 10%;
}

/* END OF SECTION 3 */
/********************/


/* SECTION 4 */
/*************/
.plain:nth-of-type(4){
  padding-top: 100px;
}
.plain:nth-of-type(4) .wrapper header{
  padding-bottom: 130px;
}
.plain:nth-of-type(4) .wrapper img{
  margin-top:-50px;
}
.plain:nth-of-type(4) .features li:nth-child(1) .list-icon{
  background: url(../images/sprite-icons.png);
  background-position: -200px -1px;
}
.plain:nth-of-type(4) .features li:nth-child(2) .list-icon{
  background: url(../images/sprite-icons.png);
  background-position: -250px 0px;
}
.plain:nth-of-type(4) .features li:nth-child(3) .list-icon{
  background: url(../images/sprite-icons.png);
  background-position: -300px 0px;
}
.plain:nth-of-type(4) .features li:nth-child(4) .list-icon{
  background: url(../images/sprite-icons.png);
  background-position: -350px -2px;
}
/* END OF SECTION 4 */
/********************/


/* SECTION 5 */
/*************/
.plain:nth-of-type(5){
  padding-top: 110px;
  color: #fff;
}
.plain:nth-of-type(5) .wrapper{
  padding: 40px 0 170px; 
}
.plain:nth-of-type(5) .wrapper a{
  margin-top: 40px;
  display: inline-block;
  text-decoration: none;
  color: #86c56c;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
  background: #fff;
  text-transform: uppercase;
  border-radius: 60px; 
}
.plain:nth-of-type(5) #little-player{
  display: inline-block;
  background: url(../images/sprite-icons.png);
  background-position: 189px 38px;
  height: 27px;
  width: 30px;
  vertical-align: middle;
  margin-right: 15px;
}
.over-stream{
  position: absolute;
  right: 14%;
}
/* END OF SECTION 5 */
/********************/


/* SECTION 6 */
/*************/
.plain:nth-of-type(6){
  padding-top: 40px;
  padding-bottom: 80px;
}
.plain:nth-of-type(6) p{
  font-size: 1.1em;
}
.plain:nth-of-type(6) .email-wrapper{
  margin-top: 40px;
  background: #3381f6;
}
/* END OF SECTION 5 */
/********************/


/* FOOTER */
/**********/
footer{
  padding: 30px 0;
  background: #f8f8f8;
}
footer ul{
  width: 100%;
  text-align: center;
}
footer li{
  display: inline-block;
}
footer a{
  text-decoration: none;
  color: #b1b1b1;
}
footer .social li a{
  display: block;
  width: 50px;
  height: 50px;
}
footer .social li + li{
  margin-left: 20px;
}
footer .social li:nth-child(1) a{
  background: url(../images/sprite-icons.png);
  background-position: 0px 100px; 
}
footer .social li:nth-child(2) a{
  background: url(../images/sprite-icons.png);
  background-position: -50px 100px; 
}
footer .social li:nth-child(3) a{
  background: url(../images/sprite-icons.png);
  background-position: -100px 100px; 
}
footer .social li:nth-child(4) a{
  background: url(../images/sprite-icons.png);
  background-position: -150px 100px; 
}
footer .swag-si-tu-lis-ca{
  font-size:0.8em;
  margin-top: 30px;
}
footer .swag-si-tu-lis-ca li{
  border-right: 1px solid #b1b1b1;
  padding-right: 25px;
}
footer .swag-si-tu-lis-ca li + li{
  margin-left: 25px;
}
footer .swag-si-tu-lis-ca li:last-child{
  border: none;
}
/* END FOOTER */
/**************/


/* RESPONSIVE */
/**************/
@media screen and (max-width: 48em){
  /***********/
  /* GLOBALS */
  h1{
    font-size: 2.1em;
  }
  .plain{
    padding: 0 5%;
  }
  .plain h1{
    text-align: center;
  }
  .plain header p {
    width: auto;
  }
  .plain:nth-of-type(1) p{
    text-align:center;
  }
  .plain:nth-of-type(1) h1{
    padding-top: 10px;
  }
  .plain:nth-of-type(1) .wrapper img,
  .plain:nth-of-type(2) .wrapper img{
    position: initial;
    margin: 0 auto;
  }
  .plain:nth-of-type(4) header {
    padding-bottom: 100px;
  }
  .plain:nth-of-type(6) p {
    text-align:center;
  } 
  footer .swag-si-tu-lis-ca {
    display: none;
  }
  .plain header {
    padding-bottom: 50px;
  }
  .email-wrapper{
    width: 80%;
    margin: auto;
  }

  /* END GLOBALS */
  /***************/


  /* MENU */
  /********/
  .pure-menu-list{
    display: none !important;
  }
  .pure-menu img {
    left: 50%;
    margin-left: -90px;
  }
  /* END MENU */
  /************/


  /* SECTION 1 */
  /*************/
  .plain:nth-of-type(1){
    padding-bottom: 0;
    padding-top: 100px;
  }
  .plain:nth-of-type(1) form{
    margin-bottom: 40px;
  }
  ..posPhone {
    position:initial;
  }
  .openVid {
    top:67%;
    right: 50%;
    margin-right: -72px;
  }

  /* END SECTION 1 */
  /*****************/


  /* SECTION 2 */
  /*************/
  .plain:nth-of-type(2){
    padding-bottom: 0;
    padding-top: 50px;
  }
  .plain:nth-of-type(1) form{
    margin-bottom: 40px;
  }
  /* END SECTION 1 */
  /*****************/


  /* SECTION 5 */
  /*************/
  .over-stream{
    display: none;
  }
  .plain:nth-of-type(5) .wrapper a{
    display: block;
    width: 160px;
    margin: 40px auto 0;
  }
  .plain:nth-of-type(5) .wrapper p{
    text-align: center;
  }
  /* END SECTION 5 */
  /*****************/

}
/* END RESPONSIVE */
/******************/

/*  TEST ANIMATION  */

#popPlayer {
  display: none;
  z-index :4;
  text-align: center;
  position: fixed;
  width:100%;
  height:100%;
}

.containerVideo {
  width: 100%;
  height: 100%;
  position: relative;
  top: 20%;
}

iframe.playerVimeo {
  width: 60%;
  height: 60%
}

a.closeVid {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  background: #fff url(../images/sprite-icons.png) no-repeat;
  background-position: -145px -155px;
  -moz-box-shadow: 0px 0px 5px 0px #656565;
  -webkit-box-shadow: 0px 0px 5px 0px #656565;
  -o-box-shadow: 0px 0px 5px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}

.ripple-wrap {
  display: none;
  overflow: hidden;
  position: fixed;
  font-size: 0;
  z-index: 3;
  top: 0; left: 0; right: 0; bottom: 0;
}
@-webkit-keyframes RIPPLER {
  0%   { border-width: 0; }
  40% { 
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left:-1500px; 
    border-color: #3381f6;
  }
  
  41% { 
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left:-1500px; 
    border-color: #3381f6;
  }
  100% {
    border-width: 1500px;
    height: 2000px;
    width: 2000px;
    margin-top: -2500px;
    margin-left:-2500px;
    border-color: #fff;
  }
}
@keyframes RIPPLER {
  0%   { border-width: 0; }
  40% { 
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left:-1500px; 
    border-color: #3381f6;
  }
  41% { 
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left:-1500px; 
    border-color: #3381f6;
  }
  100% {
    border-width: 1500px;
    height: 2000px;
    width: 2000px;
    margin-top: -2500px;
    margin-left:-2500px;
    border-color: #fff;
  }
}
.ripple {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 300px;
  left: 300px;
  -webkit-animation: none;
  animation: none;
}
.ripple-wrap.goripple {
  display: block;
}
.ripple-wrap.goripple .ripple {
 -webkit-animation-name: RIPPLER;
 -webkit-animation-duration: 1.5s;
 -webkit-animation-fill-mode: forwards;
 animation-name: RIPPLER;
 animation-duration: 1.5s;
 animation-fill-mode: forwards;

}
